* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

:root {
    --grey-clr: #474448;
    --btns-clr: #F1F0EA;
    --hover-clr: #E0DDCF;

    --border-radius: 4px;
}

/* -------------------------------------------- */
.hidden {
    display: none !important;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
}

.space {
    justify-content: space-between;
}

.highlight {
    background-color: var(--hover-clr);
}

/* -------------------------------------------- */

h1 {
    color: white;
    font-size: 4rem;
    font-family: sans-serif;
}

h2 {
    font-size: 2.8rem;
    font-family: sans-serif;
}

input {
    border: 1px solid var(--grey-clr);
    outline: none;
}

.header {
    background-color: var(--grey-clr);
    height: 10rem;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    gap: 4rem;
}

.icon {
    font-size: 4rem;
    color: white;
    cursor: pointer;
}

.header-div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.board-icon {
    color: white;
    font-size: 4rem;
}

.main {
    display: flex;
    height: 100%;
}

.nav {
    width: 30rem;
    background-color: var(--btns-clr);
    padding: 4rem;
    height: calc(100vh - 10rem);
    overflow: hidden;
}

.nav-left-div {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.home-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

button {
    text-decoration: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.menu-btn {
    width: 100%;
    text-align: left;
    padding: 1.2rem 1.6rem;
    border-radius: var(--border-radius);
}

.menu-btn:hover {
    background-color: var(--hover-clr);
}

.projects-list {
    width: 100%;
}

.projects-div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
}

.input-project-div input {
    border-radius: var(--border-radius);
}

.input-project-div {
    gap: 0.8rem;
}

.btns-div {
    gap: 0.6rem;
    font-size: 0.8rem;
}

.add-project, .cancel-project {
    font-size: 1.2rem;
}

/* ---- ---- ---- RIGHT DIV PROJECTS ---- ---- ---- */
.main-projects-div {
    max-width: 80rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 8rem;
}

.projects-btn-div {
    display: flex;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    gap: 0.6rem;
}

.projects-btn-div:hover {
    background-color: var(--hover-clr);
    border-radius: var(--border-radius);
}

.projects-btn-div:hover .projects-btn {
    background-color: var(--hover-clr);
}

.plus-icon {
    font-size: 3rem;
}

.projects-btn {
    text-align: start; 
    background-color: white;
}

.projects-input-div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.input, .input-date {
    padding: 0.8rem 1.6rem;
    border-radius: var(--border-radius);
}

.input-btns {
    display: flex;
    gap: 1.6rem;
}

.input-btn {
    width: 100%;
    padding: 0.8rem 1.6rem;
    border-radius: var(--border-radius);
    font-weight: 600;
}

.add-btn {
    background-color: #60D394;
}

.cancel-btn {
    background-color: #EE6055;
}

#project {
    padding: 0.8rem;
}

.task-style {
    font-size: 1.8rem;
}

.task-div {
    padding: 0.8rem 1.6rem;
    border-radius: var(--border-radius);
}

.task-div:hover {
    background-color: var(--hover-clr);
    cursor: pointer;
}

.task-div:hover .icon-dots,
.task-div:hover .delete-edit-btn {
    background-color: var(--hover-clr);
}

.icon-dots {
    background-color: white;
}

.delete-edit-btn {
    background-color: white;
    position: relative;
}

.edit-delete-div {
    position: absolute;
    right: -7.5rem;
    bottom: 2.7rem;
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    background-color: var(--btns-clr);
    z-index: 2;
}

.edit-btns {
    padding: 0.4rem;
    background-color: var(--btns-clr);
}

.error-text {
    font-size: 1.6rem;
    color: red;
}

.error {
    border: 1px solid red;
}

@media screen and (max-width: 650px) {
    .main {
        flex-direction: column;
        width: 100%;
    }

    .nav {
        width: 100%;
        height: 100%;
    }
}