* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* -------------------------------------------- */
.hidden {
    display: none !important;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* -------------------------------------------- */

.header {
    background-color: #474448;
    height: 10rem;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    gap: 4rem;
}

.icon {
    font-size: 4rem;
    color: white;
    cursor: pointer;
}

.header-div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

h1 {
    color: white;
    font-size: 4rem;
    font-family: sans-serif;
}

.board-icon {
    color: white;
    font-size: 4rem;
}

.main {
    display: flex;
}

.nav {
    width: 30rem;
    background-color: #F1F0EA;
    padding: 4rem;
    height: calc(100vh - 10rem);
}

.nav-left-div {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.home-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

button {
    text-decoration: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.projects-div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
}

h2 {
    font-size: 2.8rem;
    font-family: sans-serif;
}

.main-projects-div {
    max-width: 80rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 8rem;
}

.projects-btn-div {
    display: flex;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
}

.projects-btn-div:hover {
    background-color: #F1F0EA;
    border-radius: 5px;
}

.plus-icon {
    font-size: 2rem;
}

.projects-btn {
    text-align: start; 
    background-color: white;
}

.projects-input-div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.input {
    width: 100%;
    padding: 0.8rem 1.6rem;
    border-radius: 5px;
}

.input-btns {
    display: flex;
    gap: 1.6rem;
}

.input-btn {
    width: 100%;
    padding: 0.8rem 1.6rem;
    border-radius: 5px;
}

.add-btn {
    background-color: #60D394;
}

.cancel-btn {
    background-color: #EE6055;
}

#project {
    padding: 0.8rem;
}